NEXT_PUBLIC_AUTH_BASE_URL=http://your-server/evaluation-service
NEXT_PUBLIC_CLIENT_ID=your-client-id
NEXT_PUBLIC_CLIENT_SECRET=your-client-secret
NEXT_PUBLIC_EMAIL=your-email@example.com
NEXT_PUBLIC_NAME=your-full-name
NEXT_PUBLIC_ROLL_NO=your-roll-number
NEXT_PUBLIC_ACCESS_CODE=your-access-code